.myButton {
    display: block;
    box-sizing: border-box;
    min-width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: #6969f5;
    cursor: pointer;
}
.myButton:hover{
    background-color: #5858cc;
}