#root{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container{
    width: 800px;
    border-radius: 16px;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.inputContainer{

    display: flex;
    flex-direction: column;
    row-gap: 10px;

}


.postContainer{
    width: 800px;

    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
h1{
    text-align:center;
}
.postList{
    width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;

}
.postItem{
    display: flex;
    width: 800px;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    font-size: 20px;
    border: 2px solid black;
}
.btnGroup{
    display: flex;
    column-gap: 5px;
}

.page__wrapper
{
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;

}
.page {
    padding: 10px;
    border: 1px black solid;
    cursor: pointer;
}
.page__current{
    border: 2px solid orange;
    font-weight: bold;

}
.navbar{
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: lightgrey;
    margin: 0 15px;
}
.navbar__links{

    margin-left: auto ;
    margin-right: 30px;
}
.navbar__links>a{
    padding-right: 15px;

}